.movies-cardlist {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.movies-cardlist__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
  gap: 24px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.movies-cardlist__button {
  width: 320px;
  margin: 50px auto 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movies-cardlist {
    padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .movies-cardlist__container {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .movies-cardlist {
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 93px;
  }

  .movies-cardlist__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 17px;
  }

  .movies-cardlist__button {
    width: 240px;
    margin: 80px auto 10px;
    font-size: 12px;
    line-height: 15px;
  }
}
