.movies-card {
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.movies-card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 14px 0 0 14px;
}

.movies-card__duration {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
  margin: 9px 0 14px 14px;
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
}

.movies-card__save {
  width: 30px;
  height: 30px;
  background-image: url(../../../images/save.svg);
  background-position: center;
  background-repeat:no-repeat;
  background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
  align-self: center;
  margin-right: 14px;
}

.movies-card__save:hover {
  opacity: 0.5;
  cursor: pointer;
}

.movies-card__save_active {
  background-image: url(../../../images/save-active.svg);
}

.movies-card__delete {
  width: 30px;
  height: 30px;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat:no-repeat;
  background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
  align-self: center;
  margin-right: 14px;
}